force-app/main/default/flows/B2B_Populate_Customer_Service_Details_on_B2B_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description
        >This assignment populates the value of country specific telephone as well as the lookup of the country specific customer service agent.</description>
        <name>Populate_Customer_Service_Details</name>
        <label>Populate Customer Service Details</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Populate_Updated_Customer_Service_Agent.B2B_SH_EE_Customer_Service_Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Service_Agent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Populate_Updated_Customer_Service_Agent.B2B_Customer_Service_Telephone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.B2B_Customer_Service_Telephone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Populate_Updated_Customer_Service_Agent.B2B_NB_Customer_Service_Agent__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Populate_Updated_Customer_Service_Agent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Updated_Customer_Service_Agent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description
        >This assignment populates the value of country specific telephone as well as the lookup of the country specific customer service agent for NB accounts.</description>
        <name>Populate_Customer_Service_Details_of_Neubau</name>
        <label>Populate Customer Service Details of Neubau</label>
        <locationX>666</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Populate_Updated_Customer_Service_Agent.B2B_NB_Customer_Service_Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Service_Agent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Populate_Updated_Customer_Service_Agent.B2B_Customer_Service_Telephone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.B2B_Customer_Service_Telephone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Populate_Updated_Customer_Service_Agent.B2B_SH_EE_Customer_Service_Agent__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Populate_Updated_Customer_Service_Agent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Updated_Customer_Service_Agent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Brand</name>
        <label>Check Account Brand</label>
        <locationX>666</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Populate_Updated_Customer_Service_Agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account does not belong to SH/EE/NB</defaultConnectorLabel>
        <rules>
            <name>Is_Silhouette_or_Evil_Eye_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Populate_Updated_Customer_Service_Agent.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Silhouette</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Populate_Updated_Customer_Service_Agent.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>evil eye</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.B2B_Account_Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Silhouette,evil eye</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Customer_Service_Details</targetReference>
            </connector>
            <label>Is Silhouette or Evil Eye Account</label>
        </rules>
        <rules>
            <name>is_NEUBAU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Populate_Updated_Customer_Service_Agent.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEUBAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.B2B_Account_Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEUBAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Customer_Service_Details_of_Neubau</targetReference>
            </connector>
            <label>is NEUBAU</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision checks if the record is inserted for updated.</description>
        <name>Check_for_Insert_OR_Update</name>
        <label>Check for Insert OR Update</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounts_that_needs_to_be_updated</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
        <rules>
            <name>isUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Accounts</targetReference>
            </connector>
            <label>isUpdate</label>
        </rules>
    </decisions>
    <description>Flow is triggered when the records of B2B Country Specific Preference Setting are inserted or updated.
Populates the below fields on Account : 
    1. B2B_SH_EE_Customer_Service_Agent__c (If Account is of brand SH/EE)
    2. B2B_NB_Customer_Service_Agent__c (If Account is of brand NB)
    3. B2B_Customer_Service_Telephone_Number__c</description>
    <environments>Default</environments>
    <formulas>
        <name>agentUpdateFlag</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.B2B_Customer_Service_Username__c})</expression>
    </formulas>
    <formulas>
        <description>This store the value of the second string of the brand.</description>
        <name>brandSecondString</name>
        <dataType>String</dataType>
        <expression
        >IF(CONTAINS(TEXT({!$Record.B2B_Account_Brand__c}) , &quot;,&quot;) , RIGHT(TEXT({!$Record.B2B_Account_Brand__c}), LEN(TEXT({!$Record.B2B_Account_Brand__c}))- FIND(&quot;,&quot;,TEXT({!$Record.B2B_Account_Brand__c}))), TEXT({!$Record.B2B_Account_Brand__c}))</expression>
    </formulas>
    <formulas>
        <description>This returns w</description>
        <name>brandStringFirst</name>
        <dataType>String</dataType>
        <expression
        >IF(CONTAINS(TEXT({!$Record.B2B_Account_Brand__c}) , &quot;,&quot;) ,LEFT ( TEXT({!$Record.B2B_Account_Brand__c})  , FIND ( &quot;,&quot; ,TEXT({!$Record.B2B_Account_Brand__c} ))-1 ) ,TEXT({!$Record.B2B_Account_Brand__c}) )</expression>
    </formulas>
    <formulas>
        <name>IsCustomerServiceFieldsupdated</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.B2B_Customer_Service_Telephone_Number__c}) || ISCHANGED({!$Record.B2B_Customer_Service_Username__c})</expression>
    </formulas>
    <formulas>
        <name>IsInsert</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>The variable splits and stores previous brand values</description>
        <name>previousBrandFirstString</name>
        <dataType>String</dataType>
        <expression
        >IF(CONTAINS(TEXT({!$Record__Prior.B2B_Account_Brand__c}) , &quot;,&quot;) ,LEFT ( TEXT({!$Record__Prior.B2B_Account_Brand__c})  , FIND ( &quot;,&quot; ,TEXT({!$Record__Prior.B2B_Account_Brand__c} ))-1 ) ,TEXT({!$Record__Prior.B2B_Account_Brand__c}) )</expression>
    </formulas>
    <formulas>
        <description>This variable store the values of second string split by &quot;,&quot;</description>
        <name>previousBrandSecondString</name>
        <dataType>String</dataType>
        <expression
        >IF(CONTAINS(TEXT({!$Record__Prior.B2B_Account_Brand__c}) , &quot;,&quot;) , RIGHT(TEXT({!$Record__Prior.B2B_Account_Brand__c}), LEN(TEXT({!$Record__Prior.B2B_Account_Brand__c}))- FIND(&quot;,&quot;,TEXT({!$Record__Prior.B2B_Account_Brand__c}))), TEXT({!$Record__Prior.B2B_Account_Brand__c}))</expression>
    </formulas>
    <formulas>
        <description>This Boolean to store whether telephone number is updated.</description>
        <name>telephoneUpdateFlag</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.B2B_Customer_Service_Telephone_Number__c})</expression>
    </formulas>
    <interviewLabel>B2B Populate Customer Service Details on B2B Accoun {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Populate Customer Service Details on B2B Accounts</label>
    <loops>
        <name>Populate_Updated_Customer_Service_Agent</name>
        <label>Populate Updated Customer Service Agent</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <collectionReference>accountsToUpdateList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Account_Brand</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DML_to_update_the_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts_that_needs_to_be_updated</name>
        <label>Get Accounts that needs to be updated</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Customer_Service_Agent</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_B2B_Prospect_Record_type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Store_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.B2B_Country__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>brandStringFirst</elementReference>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>brandSecondString</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountsToUpdateList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>B2B_SH_EE_Customer_Service_Agent__c</queriedFields>
        <queriedFields>B2B_NB_Customer_Service_Agent__c</queriedFields>
        <queriedFields>B2B_Customer_Service_Telephone_Number__c</queriedFields>
        <queriedFields>Brand__c</queriedFields>
        <queriedFields>Store_Country__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Used to fetch the B2B Record Type for account object</description>
        <name>Get_B2B_Prospect_Record_type</name>
        <label>Get B2B Prospect Record type</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Insert_OR_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.B2B_PROSPECT_RECORD_TYPE</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Service_Agent</name>
        <label>Get Customer Service Agent</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Updated_Customer_Service_Agent</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.B2B_Customer_Service_Username__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Accounts</name>
        <label>Get Related Accounts</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Customer_Service_Agent</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_B2B_Prospect_Record_type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Store_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.B2B_Country__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>previousBrandFirstString</elementReference>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>previousBrandSecondString</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountsToUpdateList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>B2B_SH_EE_Customer_Service_Agent__c</queriedFields>
        <queriedFields>B2B_NB_Customer_Service_Agent__c</queriedFields>
        <queriedFields>B2B_Customer_Service_Telephone_Number__c</queriedFields>
        <queriedFields>Store_Country__c</queriedFields>
        <queriedFields>Brand__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>DML_to_update_the_Accounts</name>
        <label>DML to update the Accounts</label>
        <locationX>314</locationX>
        <locationY>1331</locationY>
        <inputReference>accountListToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_B2B_Prospect_Record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2B_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Service Information</stringValue>
            </value>
        </filters>
        <object>B2B_Country_Specific_Preference_Setting__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accountListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>This variable stores all the accounts that needs to be updated once the country preference setting is updated.</description>
        <name>accountsToUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
