force-app/main/default/flows/B2B_Account_After_Insert_and_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Fill_record_type_Id_List</name>
        <label>Fill record type Id List</label>
        <locationX>1062</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>accountRecordTypeIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fill_record_type_for_B2B.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_record_type_for_B2B</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment populates the Accounts brand status and username on its related commerce user</description>
        <name>Populate_the_User_s_brand_status_and_Federation_id</name>
        <label>Populate the User&apos;s brand status and Federation id</label>
        <locationX>402</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Iterate_over_user.B2B_SH_Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSilhouetteBrandStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_over_user.B2B_EE_Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEvilEyeBrandStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_over_user.B2B_NB_Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getNeubauBrandStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_over_user.B2B_Country_Code_ARIS_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.k_Country_Code_ARIS_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_over_user.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.k_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_over_user.FederationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.k_B2B_Shop_Username__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_user</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_user</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_B2B</name>
        <label>Check for B2B</label>
        <locationX>974</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Not B2B</defaultConnectorLabel>
        <rules>
            <name>Is_B2B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecordTypeIdList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_user</targetReference>
            </connector>
            <label>Is B2B</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_empty_user_List</name>
        <label>Check for empty user List</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>No user to update</defaultConnectorLabel>
        <rules>
            <name>Users_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userListToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Users</targetReference>
            </connector>
            <label>Users to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_user_exists_for_the_Account</name>
        <label>Check if user exists for the Account</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>User does not exist or and if Account SAML fields are not updated</defaultConnectorLabel>
        <rules>
            <name>User_Exists_and_if_Account_SAML_fields_or_Email_field_is_updated</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5 OR 6 OR 7  )</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.k_Account_Status_Silhouette__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Acct_Stat_EE__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.k_Account_Status_Neubau__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.k_Country_Code_ARIS_ID__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.k_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.k_B2B_Shop_Username__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_user</targetReference>
            </connector>
            <label>User Exists and if Account SAML fields or Email field is updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>isUpdate</name>
        <label>isUpdate</label>
        <locationX>1436</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record_Types</targetReference>
            </connector>
            <label>is Update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>getEvilEyeBrandStatus</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Acct_Stat_EE__c})</expression>
    </formulas>
    <formulas>
        <name>getNeubauBrandStatus</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.k_Account_Status_Neubau__c})</expression>
    </formulas>
    <formulas>
        <name>getSilhouetteBrandStatus</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.k_Account_Status_Silhouette__c})</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Account - After Insert and Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Account - After Insert and Update Flow</label>
    <loops>
        <name>Fill_record_type_for_B2B</name>
        <label>Fill record type for B2B</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Account_Record_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fill_record_type_Id_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_B2B</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_user</name>
        <label>Iterate over user</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <collectionReference>Get_related_user</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_the_User_s_brand_status_and_Federation_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_empty_user_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Commerce_Log</name>
        <label>Create Commerce Log</label>
        <locationX>314</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>B2B_Message_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>B2B_Message__c</field>
            <value>
                <stringValue>Flow failed : B2B Account - After Insert and Update Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>B2B_Process__c</field>
            <value>
                <stringValue>CommerceSetup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>B2B_Related_Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>B2B_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>B2B_CommerceLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record_Types</name>
        <label>Get Account Record Types</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fill_record_type_for_B2B</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Commerce_Log</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>k_Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>k_Prospect</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_user</name>
        <label>Get related user</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_user_exists_for_the_Account</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Commerce_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>B2B_SH_Account_Status__c</queriedFields>
        <queriedFields>B2B_EE_Account_Status__c</queriedFields>
        <queriedFields>B2B_NB_Account_Status__c</queriedFields>
        <queriedFields>B2B_Country_Code_ARIS_ID__c</queriedFields>
        <queriedFields>FederationIdentifier</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Users</name>
        <label>Update Related Users</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <faultConnector>
            <targetReference>Create_Commerce_Log</targetReference>
        </faultConnector>
        <inputReference>userListToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>1310</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isUpdate</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Store the Ids of Account&apos;s record type</description>
        <name>accountRecordTypeIdList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
