force-app/main/default/flows/B2B_Set_Account_Fields_Routing_of_Request_B2B_Commerce.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
        <assignments>
        <name>Populate_B2B_DE_SH_EE_and_NB_Customer_Service_Agent</name>
        <label>Populate B2B DE SH/EE and NB Customer Service Agent</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.B2B_SH_EE_Customer_Service_Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.B2B_Customer_Service_Telephone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Customer_Service_Details.B2B_Customer_Service_Telephone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_NB_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Customer_NB_Agent</name>
        <label>Populate Customer NB Agent</label>
        <locationX>138</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>$Record.B2B_NB_Customer_Service_Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.B2B_Customer_Service_Telephone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Customer_Service_Details.B2B_Customer_Service_Telephone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Users</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>The decision match the fetched Account Record Type with the current account&apos;s Record Type</description>
        <name>Check_for_B2B_Prospect_Record_Type</name>
        <label>Check for B2B Prospect Record Type</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Not B2B</defaultConnectorLabel>
        <rules>
            <name>Is_B2B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_B2B_Prospect_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Country_Customer_Service_Details</targetReference>
            </connector>
            <label>Is B2B</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_NB_Account</name>
        <label>Check if NB Account</label>
        <locationX>270</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_NB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEUBAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Customer_NB_Agent</targetReference>
            </connector>
            <label>Check NB</label>
        </rules>
    </decisions>
        <decisions>
        <name>Check_the_Type_of_Account</name>
        <label>Check the Type of Account</label>
        <locationX>270</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Check_if_NB_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>B2B_SH_EE_Customer_Service_Agent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Silhouette</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>evil eye</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_B2B_DE_SH_EE_and_NB_Customer_Service_Agent</targetReference>
            </connector>
            <label>B2B SH EE Customer Service Agent</label>
        </rules>
    </decisions>
    <description>This flow will automatically set &quot;SH/EE Customer Service Agent&quot;, &quot;SH/EE Master Data Admin&quot;
&quot;NB Customer Service Agent&quot; fields on Account.</description>
    <environments>Default</environments>
    <formulas>
        <name>IS_DE_Country</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEFT({!$Record.k_ARIS_Account_ID__c},2)=&apos;DE&apos;,true,false)</expression>
    </formulas>
    <interviewLabel>B2B Set Account Fields Routing of Request B2B Commerce {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>B2B Set Account Fields Routing of Request B2B Commerce</label>
    <loops>
        <name>Iterate_Over_Users</name>
        <label>Iterate Over Users</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <collectionReference>Get_CSA_or_MDA_User</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_the_Type_of_Account</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Used to fetch the B2B Record Type for account object</description>
        <name>Get_B2B_Prospect_Record_Type</name>
        <label>Get B2B Prospect Record Type</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_B2B_Prospect_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.B2B_PROSPECT_RECORD_TYPE</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Country Specific Telephone and customer service agent email</description>
        <name>Get_Country_Customer_Service_Details</name>
        <label>Get Country Customer Service Details</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CSA_or_MDA_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2B_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Store_Country__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>B2B_Account_Brand__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Brand__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>B2B_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Service Information</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2B_Country_Specific_Preference_Setting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CSA_or_MDA_User</name>
        <label>Get CSA or MDA User</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Users</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Country_Customer_Service_Details.B2B_Customer_Service_Username__c</elementReference>
            </value>
        </filters>
                <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_B2B_Prospect_Record_Type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>B2B_SH_EE_Customer_Service_Agent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>B2B_NB_Customer_Service_Agent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
                <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
