force-app/main/default/flows/B2B_Populate_Survey_Start_Date_on_Activation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>This assignment is used to populate the Survey Start Date (B2B_Survey_Start_Date__c)</description>
        <name>Populate_Survey_Start_Date</name>
        <label>Populate Survey Start Date</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.B2B_Survey_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_for_Active</name>
        <label>Check for Active</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Is Not Active</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.B2B_Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Survey_Start_Date</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <description
    >This flow populates the B2B_Survey_Start_Date__c (Survey Start Date) on B2B_Survey__c object on insertion and updation of the records.</description>
    <environments>Default</environments>
    <interviewLabel>B2B Populate Survey Start Date on Activation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Populate Survey Start Date on Activation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Active</targetReference>
        </connector>
        <object>B2B_Survey__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
