force-app/main/default/flows/B2B_Populate_Salesforce_to_Mediahub_Mappings_on_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Current_user_record_ID</name>
        <label>Assign Current user record ID</label>
        <locationX>677</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Account_Contact_is_populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_Mediahub_Mapping_value_for_User_type</name>
        <label>Assign Empty Mediahub Mapping value for User type</label>
        <locationX>490</locationX>
        <locationY>3047</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.B2B_User_Type_Mapping__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Brand_content_Silhouette_is_true_or_false</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_Salesforce_mediahub_value_for_Brand_content_Evil_Eye</name>
        <label>Assign Empty Salesforce mediahub value for Brand content Evil Eye</label>
        <locationX>468</locationX>
        <locationY>4055</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.B2B_Brand_content_Evil_Eye_Mapping__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Brand_content_Neubau_is_true_or_false</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_Salesforce_mediahub_value_for_Brand_content_Neubau</name>
        <label>Assign Empty Salesforce mediahub value for Brand content Neubau</label>
        <locationX>468</locationX>
        <locationY>4463</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.B2B_Brand_content_Neubau_Mapping__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_Salesforce_mediahub_value_for_Brand_content_Silhouette</name>
        <label>Assign Empty Salesforce mediahub value for Brand content Silhouette</label>
        <locationX>468</locationX>
        <locationY>3647</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.B2B_Brand_content_Silhouette_Mapping__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Brand_content_Evil_Eye_is_true_or_false</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_value_for_country_code_ARIS_id</name>
        <label>Assign Empty value for country code ARIS id</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.B2B_Country_Code_ARIS_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_SH_Account_Status_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_value_for_EE_account_status</name>
        <label>Assign empty value for EE account status</label>
        <locationX>490</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.B2B_EE_Account_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_NB_Account_Status_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_value_for_NB_account_status</name>
        <label>Assign Empty value for NB account status</label>
        <locationX>490</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.B2B_NB_Account_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_User_Type_Is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_value_for_SH_account_status</name>
        <label>Assign Empty value for SH account status</label>
        <locationX>490</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.B2B_SH_Account_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_EE_Account_Status_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mediahub_Mapping_value_for</name>
        <label>Assign Mediahub Mapping value for country code ARIS id</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.B2B_Country_Code_ARIS_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salesforce_to_mediahub_mapping_record_for_country_specific_record.MediaHub_value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SH_Account_Status_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mediahub_Mapping_value_for_EE_account_status</name>
        <label>Assign Mediahub Mapping value for EE account status</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.B2B_EE_Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salesforce_to_mediahub_mapping_record_for_EE_account_Status.MediaHub_value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_NB_Account_Status_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mediahub_Mapping_value_for_NB_account_status</name>
        <label>Assign Mediahub Mapping value for NB account status</label>
        <locationX>50</locationX>
        <locationY>2663</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.B2B_NB_Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salesforce_to_mediahub_mapping_record_for_NB_account_Status.MediaHub_value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_User_Type_Is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mediahub_Mapping_value_for_SH_account_status</name>
        <label>Assign Mediahub Mapping value for SH account status</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.B2B_SH_Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salesforce_to_mediahub_mapping_record_for_SH_account_Status.MediaHub_value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_EE_Account_Status_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mediahub_Mapping_value_for_User_type</name>
        <label>Assign Mediahub Mapping value for User type</label>
        <locationX>50</locationX>
        <locationY>3263</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.B2B_User_Type_Mapping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salesforce_to_mediahub_mapping_record_for_User_Type.MediaHub_value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Brand_content_Silhouette_is_true_or_false</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Salesforce_mediahub_value_for_Brand_content_Evil_Eye</name>
        <label>Assign Salesforce mediahub value for Brand content Evil Eye</label>
        <locationX>204</locationX>
        <locationY>4163</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.B2B_Brand_content_Evil_Eye_Mapping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salesforce_to_mediahub_mapping_for_brand_content_Evil_Eye.MediaHub_value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Brand_content_Neubau_is_true_or_false</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Salesforce_mediahub_value_for_Brand_content_Neubau</name>
        <label>Assign Salesforce mediahub value for Brand content Neubau</label>
        <locationX>204</locationX>
        <locationY>4571</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.B2B_Brand_content_Neubau_Mapping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salesforce_to_mediahub_mapping_for_brand_content_Neubau.MediaHub_value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Salesforce_mediahub_value_for_Brand_content_Silhouette</name>
        <label>Assign Salesforce mediahub value for Brand content Silhouette</label>
        <locationX>204</locationX>
        <locationY>3755</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.B2B_Brand_content_Silhouette_Mapping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salesforce_to_mediahub_mapping_for_brand_content_Silhouette.MediaHub_value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Brand_content_Evil_Eye_is_true_or_false</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Brand_content_Evil_Eye_is_true_or_false</name>
        <label>Check Brand content Evil Eye is true or false</label>
        <locationX>336</locationX>
        <locationY>3947</locationY>
        <defaultConnector>
            <targetReference>Assign_Empty_Salesforce_mediahub_value_for_Brand_content_Evil_Eye</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.B2B_Brand_content_Evil_Eye__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Salesforce_to_mediahub_mapping_for_brand_content_Evil_Eye</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Brand_content_Neubau_is_true_or_false</name>
        <label>Check Brand content Neubau is true or false</label>
        <locationX>336</locationX>
        <locationY>4355</locationY>
        <defaultConnector>
            <targetReference>Assign_Empty_Salesforce_mediahub_value_for_Brand_content_Neubau</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.B2B_Brand_content_Neubau__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Salesforce_to_mediahub_mapping_for_brand_content_Neubau</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Brand_content_Silhouette_is_true_or_false</name>
        <label>Check Brand content Silhouette is true or false</label>
        <locationX>336</locationX>
        <locationY>3539</locationY>
        <defaultConnector>
            <targetReference>Assign_Empty_Salesforce_mediahub_value_for_Brand_content_Silhouette</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.B2B_Brand_content_Silhouette__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Salesforce_to_mediahub_mapping_for_brand_content_Silhouette</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Country_Code_Aris_Id_is_null</name>
        <label>Check Country Code ARIS Id is null</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_Empty_value_for_country_code_ARIS_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.k_Country_Code_ARIS_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Salesforce_to_mediahub_mapping_record_for_country_specific_record</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_EE_Account_Status_is_null</name>
        <label>Check EE Account Status is null</label>
        <locationX>336</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Assign_empty_value_for_EE_account_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Acct_Stat_EE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Acct_Stat_EE__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Salesforce_to_mediahub_mapping_record_for_EE_account_Status</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Account_Contact_is_populated</name>
        <label>Check if Account/Contact is populated</label>
        <locationX>677</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Related Contact/Account does not exists</defaultConnectorLabel>
        <rules>
            <name>Related_Contact_Account_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Country_Code_Aris_Id_is_null</targetReference>
            </connector>
            <label>Related Contact/Account exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mapping_record_for_EE_Account_Status_is_empty_or_not</name>
        <label>Check Mapping record for EE Account Status is empty or not</label>
        <locationX>182</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Check_NB_Account_Status_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Not Found</defaultConnectorLabel>
        <rules>
            <name>Record_Found3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Salesforce_to_mediahub_mapping_record_for_EE_account_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mediahub_Mapping_value_for_EE_account_status</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mapping_record_for_k_Country_Code_ARIS_ID_c_is_present_or_not</name>
        <label>Check Mapping record for k_Country_Code_ARIS_ID__c is present or not</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Check_SH_Account_Status_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Not Found</defaultConnectorLabel>
        <rules>
            <name>Record_Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Salesforce_to_mediahub_mapping_record_for_country_specific_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mediahub_Mapping_value_for</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mapping_record_for_NB_Account_Status_is_present_or_not</name>
        <label>Check Mapping record for NB Account Status is present or not</label>
        <locationX>182</locationX>
        <locationY>2555</locationY>
        <defaultConnector>
            <targetReference>Check_User_Type_Is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Not Found</defaultConnectorLabel>
        <rules>
            <name>Record_Found4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Salesforce_to_mediahub_mapping_record_for_NB_account_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mediahub_Mapping_value_for_NB_account_status</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mapping_record_for_SH_Account_Status_is_empty_or_not</name>
        <label>Check Mapping record for SH Account Status is empty or not</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Check_EE_Account_Status_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Not Found</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Salesforce_to_mediahub_mapping_record_for_SH_account_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mediahub_Mapping_value_for_SH_account_status</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mapping_record_for_User_Type_is_present_or_not</name>
        <label>Check Mapping record for User Type is present or not</label>
        <locationX>182</locationX>
        <locationY>3155</locationY>
        <defaultConnector>
            <targetReference>Check_Brand_content_Silhouette_is_true_or_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Not Found</defaultConnectorLabel>
        <rules>
            <name>Record_Found5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Salesforce_to_mediahub_mapping_record_for_User_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mediahub_Mapping_value_for_User_type</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_NB_Account_Status_is_null</name>
        <label>Check NB Account Status is null</label>
        <locationX>336</locationX>
        <locationY>2339</locationY>
        <defaultConnector>
            <targetReference>Assign_Empty_value_for_NB_account_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.k_Account_Status_Neubau__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.k_Account_Status_Neubau__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Salesforce_to_mediahub_mapping_record_for_NB_account_Status</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SH_Account_Status_is_null</name>
        <label>Check SH Account Status is null</label>
        <locationX>336</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Assign_Empty_value_for_SH_account_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.k_Account_Status_Silhouette__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.k_Account_Status_Silhouette__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Salesforce_to_mediahub_mapping_record_for_SH_account_Status</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Type_Is_null</name>
        <label>Check User Type Is null</label>
        <locationX>336</locationX>
        <locationY>2939</locationY>
        <defaultConnector>
            <targetReference>Assign_Empty_Mediahub_Mapping_value_for_User_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.B2B_User_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Salesforce_to_mediahub_mapping_record_for_User_Type</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <description
    >This flow populated the brand content and account status mappings of SF values to MediaHub values on User object from the Metadata B2B Salesforce User To MediaHub Mappings.</description>
    <environments>Default</environments>
    <interviewLabel>B2B Populate Brand Content Mediahub Mappings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Populate Salesforce to Mediahub Mappings on User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Commerce_Log</name>
        <label>Create Commerce Log</label>
        <locationX>754</locationX>
        <locationY>4871</locationY>
        <inputAssignments>
            <field>B2B_Message_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>B2B_Message__c</field>
            <value>
                <stringValue>Flow failed : B2B Populate Account Brand Status on User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>B2B_Process__c</field>
            <value>
                <stringValue>CommerceSetup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>B2B_Related_Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>B2B_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>B2B_CommerceLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Salesforce_to_mediahub_mapping_for_brand_content_Evil_Eye</name>
        <label>Get Salesforce to mediahub mapping for brand content Evil Eye</label>
        <locationX>204</locationX>
        <locationY>4055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Salesforce_mediahub_value_for_Brand_content_Evil_Eye</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2B_Brand_content_Evil_Eye__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2B_Salesforce_User_To_MediaHub_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Salesforce_to_mediahub_mapping_for_brand_content_Neubau</name>
        <label>Get Salesforce to mediahub mapping for brand content Neubau</label>
        <locationX>204</locationX>
        <locationY>4463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Salesforce_mediahub_value_for_Brand_content_Neubau</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2B_Brand_content_Neubau__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2B_Salesforce_User_To_MediaHub_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Salesforce_to_mediahub_mapping_for_brand_content_Silhouette</name>
        <label>Get Salesforce to mediahub mapping for brand content Silhouette</label>
        <locationX>204</locationX>
        <locationY>3647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Salesforce_mediahub_value_for_Brand_content_Silhouette</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2B_Brand_content_Silhouette__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2B_Salesforce_User_To_MediaHub_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Salesforce_to_mediahub_mapping_record_for_country_specific_record</name>
        <label>Get Salesforce to mediahub mapping record for country specific record</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Mapping_record_for_k_Country_Code_ARIS_ID_c_is_present_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>k_Country_Code_ARIS_ID__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Salesforce_field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.k_Country_Code_ARIS_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2B_Salesforce_User_To_MediaHub_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Salesforce_to_mediahub_mapping_record_for_EE_account_Status</name>
        <label>Get Salesforce to mediahub mapping record for EE account Status</label>
        <locationX>182</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Mapping_record_for_EE_Account_Status_is_empty_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acct_Stat_EE__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2B_Salesforce_User_To_MediaHub_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Salesforce_to_mediahub_mapping_record_for_NB_account_Status</name>
        <label>Get Salesforce to mediahub mapping record for NB account Status</label>
        <locationX>182</locationX>
        <locationY>2447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Mapping_record_for_NB_Account_Status_is_present_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>k_Account_Status_Neubau__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2B_Salesforce_User_To_MediaHub_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Salesforce_to_mediahub_mapping_record_for_SH_account_Status</name>
        <label>Get Salesforce to mediahub mapping record for SH account Status</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Mapping_record_for_SH_Account_Status_is_empty_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>k_Account_Status_Silhouette__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2B_Salesforce_User_To_MediaHub_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Salesforce_to_mediahub_mapping_record_for_User_Type</name>
        <label>Get Salesforce to mediahub mapping record for User Type</label>
        <locationX>182</locationX>
        <locationY>3047</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Mapping_record_for_User_Type_is_present_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2B_User_Type__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Salesforce_field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.B2B_User_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2B_Salesforce_User_To_MediaHub_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>336</locationX>
        <locationY>4763</locationY>
        <faultConnector>
            <targetReference>Create_Commerce_Log</targetReference>
        </faultConnector>
        <inputReference>UserRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Current_user_record_ID</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
