force-app/main/default/feature-checkout/flows/B2B_Checkout_One_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cart_To_Order</name>
        <label>Cart To Order</label>
        <locationX>1205</locationX>
        <locationY>152</locationY>
        <actionName>cartToOrderAction</actionName>
        <actionType>cartToOrderAction</actionType>
        <connector>
            <targetReference>Get_CartCheckoutSession</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Start_Checkout_Session</name>
        <label>Start Checkout Session</label>
        <locationX>176</locationX>
        <locationY>375</locationY>
        <actionName>checkoutSessionAction</actionName>
        <actionType>checkoutSessionAction</actionType>
        <connector>
            <targetReference>Single_Page_Checkout</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initialState</name>
            <value>
                <stringValue>Start</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>checkoutSessionId</assignToReference>
            <name>requestId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Checkout_Session_State</name>
        <label>Update Checkout Session State</label>
        <locationX>1076</locationX>
        <locationY>152</locationY>
        <actionName>updateCheckoutSessionStateAction</actionName>
        <actionType>updateCheckoutSessionStateAction</actionType>
        <connector>
            <targetReference>Cart_To_Order</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>checkoutSessionId</name>
            <value>
                <elementReference>checkoutSessionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextState</name>
            <value>
                <stringValue>cartToOrder</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_OrderId</name>
        <label>Set OrderId</label>
        <locationX>1453</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Sales_Channel</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_payment_type_is_selected</name>
        <label>Which payment type is selected</label>
        <locationX>752</locationX>
        <locationY>294</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CardPayment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Card_Payment_Method</targetReference>
            </connector>
            <label>Credit Card</label>
        </rules>
        <rules>
            <name>Purchase_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PurchaseOrderNumber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PO_Payment_Method</targetReference>
            </connector>
            <label>Purchase Order</label>
        </rules>
    </decisions>
    <description>Uses a single component instead of four separate screens - FF - 03/30/22 Add Promotion support and Collect Payment details</description>
    <formulas>
        <name>expiryMonthNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!expiryMonthValue})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>expiryYearNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!expiryYearValue})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>paymentComment</name>
        <dataType>String</dataType>
        <expression>&apos;Purchase Order: &apos; + {!poNumberValue}</expression>
    </formulas>
    <interviewLabel>B2B Checkout One Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Checkout One Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>CheckoutFlow</processType>
    <recordCreates>
        <name>Create_Card_Payment_Method</name>
        <label>Create Card Payment Method</label>
        <locationX>618</locationX>
        <locationY>432</locationY>
        <connector>
            <targetReference>Create_Payment_Group</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CardCategory</field>
            <value>
                <stringValue>CreditCard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CardHolderName</field>
            <value>
                <elementReference>nameOnCard</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CardType</field>
            <value>
                <elementReference>cardTypeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpiryMonth</field>
            <value>
                <elementReference>expiryMonthNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpiryYear</field>
            <value>
                <elementReference>expiryYearNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InputCardNumber</field>
            <value>
                <elementReference>cardNumberValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentGatewayId</field>
            <value>
                <elementReference>Get_Payment_Gateway.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingMode</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>CardPaymentMethod</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Authorization</name>
        <label>Create Payment Authorization</label>
        <locationX>611</locationX>
        <locationY>720</locationY>
        <connector>
            <targetReference>Create_Payment_Gateway_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Get_Order.GrandTotalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentGatewayId</field>
            <value>
                <elementReference>Get_Payment_Gateway.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentGroupId</field>
            <value>
                <elementReference>Create_Payment_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethodId</field>
            <value>
                <elementReference>Create_Card_Payment_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingMode</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <object>PaymentAuthorization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Gateway_Log</name>
        <label>Create Payment Gateway Log</label>
        <locationX>609</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Activate_Managed_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>InteractionStatus</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InteractionType</field>
            <value>
                <stringValue>Authorization</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferencedEntityId</field>
            <value>
                <elementReference>Create_Payment_Authorization</elementReference>
            </value>
        </inputAssignments>
        <object>PaymentGatewayLog</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Group</name>
        <label>Create Payment Group</label>
        <locationX>613</locationX>
        <locationY>571</locationY>
        <connector>
            <targetReference>Create_Payment_Authorization</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>SourceObjectId</field>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputAssignments>
        <object>PaymentGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_PO_Payment_Authorization</name>
        <label>Create PO Payment Authorization</label>
        <locationX>757</locationX>
        <locationY>717</locationY>
        <connector>
            <targetReference>Create_PO_Payment_Gateway_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Get_Order.GrandTotalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentGatewayId</field>
            <value>
                <elementReference>Get_Payment_Gateway.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentGroupId</field>
            <value>
                <elementReference>Create_PO_Payment_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethodId</field>
            <value>
                <elementReference>Create_PO_Payment_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingMode</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <object>PaymentAuthorization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_PO_Payment_Gateway_Log</name>
        <label>Create PO Payment Gateway Log</label>
        <locationX>755</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Activate_Managed_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>InteractionStatus</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InteractionType</field>
            <value>
                <stringValue>Authorization</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferencedEntityId</field>
            <value>
                <elementReference>Create_PO_Payment_Authorization</elementReference>
            </value>
        </inputAssignments>
        <object>PaymentGatewayLog</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_PO_Payment_Group</name>
        <label>Create PO Payment Group</label>
        <locationX>757</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_PO_Payment_Authorization</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>SourceObjectId</field>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputAssignments>
        <object>PaymentGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_PO_Payment_Method</name>
        <label>Create PO Payment Method</label>
        <locationX>757</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_PO_Payment_Group</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>paymentComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentGatewayId</field>
            <value>
                <elementReference>Get_Payment_Gateway.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingMode</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>AlternativePaymentMethod</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Billing_ContactPointAddress</name>
        <label>Get Billing ContactPointAddress</label>
        <locationX>576</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Shipping_ContactPointAddress</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>billingContactPointAddressId</elementReference>
            </value>
        </filters>
        <object>ContactPointAddress</object>
        <outputReference>BillingContactPointAddressRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Latitude</queriedFields>
        <queriedFields>Longitude</queriedFields>
        <queriedFields>GeocodeAccuracy</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_CartCheckoutSession</name>
        <label>Get CartCheckoutSession</label>
        <locationX>1322</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WebCartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CartCheckoutSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1204</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateOrderRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>1446</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_OrderId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CartCheckoutSession.OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>1583</locationX>
        <locationY>751</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Close_Cart</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OriginalOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <object>OrderSummary</object>
        <outputAssignments>
            <assignToReference>OrderSummaryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Gateway</name>
        <label>Get Payment Gateway</label>
        <locationX>912</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_payment_type_is_selected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentGatewayName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payeezy Adapter Gateway</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentGateway</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Channel</name>
        <label>Get Sales Channel</label>
        <locationX>1331</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2B</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipping_ContactPointAddress</name>
        <label>Get Shipping ContactPointAddress</label>
        <locationX>701</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Shipping_Instructions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>shippingContactPointAddressId</elementReference>
            </value>
        </filters>
        <object>ContactPointAddress</object>
        <outputReference>ShippingContactPointAddressRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>Street</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Close_Cart</name>
        <label>Close Cart</label>
        <locationX>1583</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>FireCartEvent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipping_Instructions</name>
        <label>Update Shipping Instructions</label>
        <locationX>827</locationX>
        <locationY>152</locationY>
        <connector>
            <targetReference>updateCartRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ShippingInstructions</field>
            <value>
                <elementReference>shippingInstructions</elementReference>
            </value>
        </inputAssignments>
        <object>CartDeliveryGroup</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCartRecord</name>
        <label>updateCartRecord</label>
        <locationX>950</locationX>
        <locationY>152</locationY>
        <connector>
            <targetReference>Update_Checkout_Session_State</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingGeocodeAccuracy</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.GeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLatitude</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLongitude</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>poNumberValue</elementReference>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrderRecord</name>
        <label>updateOrderRecord</label>
        <locationX>1075</locationX>
        <locationY>292</locationY>
        <connector>
            <targetReference>Get_Payment_Gateway</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillToContactId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingGeocodeAccuracy</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.GeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLatitude</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLongitude</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>poNumberValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesChannelId</field>
            <value>
                <elementReference>Get_Sales_Channel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToContactId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>ShippingContactPointAddressRecord.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>ShippingContactPointAddressRecord.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>ShippingContactPointAddressRecord.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>ShippingContactPointAddressRecord.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>ShippingContactPointAddressRecord.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1207</locationX>
        <locationY>616</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText1</name>
            <fieldText
            >&lt;p&gt;An error was encountered:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(221, 8, 8);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FireCartEvent</name>
        <label>FireCartEvent</label>
        <locationX>1583</locationX>
        <locationY>414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Order_Confirmation_Redirect</targetReference>
        </connector>
        <fields>
            <name>FireCartChangedEvent</name>
            <extensionName>c:fireCartChangedEvent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Confirmation_Redirect</name>
        <label>Order Confirmation Redirect</label>
        <locationX>1581</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OrderConfirmationRedirectComp</name>
            <extensionName>forceCommunity:flowRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>orderconfirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>OrderSummaryId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Single_Page_Checkout</name>
        <label>Single Page Checkout</label>
        <locationX>415</locationX>
        <locationY>338</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Billing_ContactPointAddress</targetReference>
        </connector>
        <fields>
            <name>B2B_Single_Page_Checkout</name>
            <extensionName>c:b2b_checkoutSinglePage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>autoLaunchEditShipToAddressDialog</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideDeliveryInstructions</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideDeliveryMethodSelection</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hidePaymentMethodSection</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideShippingAddressSelection</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useDefaultDeliveryMethod</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useDefaultTaxRate</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCartSummarySection</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>billingContactPointAddressId</assignToReference>
                <name>billingContactPointAddressId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>paymentGatewayId</assignToReference>
                <name>paymentGatewayId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>poNumberValue</assignToReference>
                <name>purchaseOrderNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>shippingContactPointAddressId</assignToReference>
                <name>shippingContactPointAddressId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>shippingInstructions</assignToReference>
                <name>shippingInstructions</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>paymentType</assignToReference>
                <name>paymentType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>nameOnCard</assignToReference>
                <name>nameOnCard</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>expiryYearValue</assignToReference>
                <name>expiryYear</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>expiryMonthValue</assignToReference>
                <name>expiryMonth</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>cvvValue</assignToReference>
                <name>cvv</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>cardNumberValue</assignToReference>
                <name>cardNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>cardTypeValue</assignToReference>
                <name>cardType</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>216</locationY>
        <connector>
            <targetReference>Start_Checkout_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Activate_Managed_Order</name>
        <label>Activate Managed Order</label>
        <locationX>1169</locationX>
        <locationY>786</locationY>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
        <flowName>Subflow_B2B_Checkout_One_Screen_Activate_Managed_Order</flowName>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>billingContactPointAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingContactPointAddressRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointAddress</objectType>
    </variables>
    <variables>
        <name>cardNumberValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cardTypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkoutSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPointAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvvValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expiryMonthValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expiryYearValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mainCheckoutSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartCheckoutSession</objectType>
    </variables>
    <variables>
        <name>nameOnCard</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentGatewayId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PurchaseOrderNumber</stringValue>
        </value>
    </variables>
    <variables>
        <name>poNumberValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shippingContactPointAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingContactPointAddressRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointAddress</objectType>
    </variables>
    <variables>
        <name>shippingInstructions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
